<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.docdate">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.DocDateApp">
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".PopUpReg"
            android:exported="false"
            android:theme="@style/Theme.DocDateApp.PopupOverlay" />
        <activity
            android:name=".ClientRegistrationActivity"
            android:exported="false"
            android:label="@string/title_activity_client_registration"
            android:theme="@style/Theme.DocDateApp.NoActionBar" />
        <activity
            android:name=".DocRegistrationActivity"
            android:exported="false"
            android:label="@string/title_activity_doc_registration"
            android:theme="@style/Theme.DocDateApp.NoActionBar" />
        <activity
            android:name=".BasicActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DocDateApp.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DocDateApp.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.DocDateApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.DocDateApp.NoActionBar"></activity>
    </application>

</manifest>